*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    body{
    font-family: Arial, sans-serif;
    background:black;
    color:white;
    }
    
    .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 80px;
    }
    
    .logo{
    font-size:22px;
    font-weight:bold;
    }
    
    .nav-menu{
    display:flex;
    list-style:none;
    }
    
    .nav-menu li{
    margin-left:40px;
    }
    
    .nav-menu a{
    text-decoration:none;
    color:white;
    font-size:16px;
    }
    
    .hamburger{
    display:none;
    font-size:28px;
    cursor:pointer;
    }
    
    .hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:100px 80px;
gap:40px;
flex-wrap:wrap;
}
    
    .hero-text{
    max-width:500px;
    }
    
    .hero-text h1{
    font-size:80px;
    margin-bottom:20px;
    }
    
    .hero-text p{
    color:#cccccc;
    line-height:1.6;
    }
    
    .hero-image img{
width:100%;
max-width:450px;
height:auto;
}


@media (max-width:768px){

.navbar{
padding:20px;
}

.hero{
flex-direction:column;
text-align:center;
padding:60px 20px;
}

.hero-text h1{
font-size:48px;
}

.hero-text{
max-width:100%;
}

.hero-image{
width:100%;
display:flex;
justify-content:center;
}

.hero-image img{
width:90%;
max-width:400px;
}

.nav-menu{
display:none;
flex-direction:column;
background:black;
position:absolute;
top:70px;
right:20px;
width:180px;
}

.nav-menu li{
margin:15px;
}

.hamburger{
display:block;
}

.nav-menu.active{
display:flex;
}

}
